@font-face {
  font-family: "socicon";
  src: url("/assets/socicon.eot");
  src: url("/assets/socicon.eot?#iefix") format("embedded-opentype"),
    url("/assets/socicon.woff") format("woff"),
    url("/assets/socicon.woff2") format("woff2"),
    url("/assets/socicon.ttf") format("truetype"),
    url("/assets/socicon.svg#sociconregular") format("svg");
  font-weight: normal;
  font-style: normal;
  text-transform: initial;
}
